<h1>Student</h1>

<h3>Add Student</h3>
<form action="/student/add" method="post">
  Name : <input type="text" name="name" placeholder="Enter Name" /><br />
  Batch : <input type="text" name="batch" placeholder="Enter Batch" /> <br />
  College : <input type="text" name="college" placeholder="Enter College" />
  <br />
  Year of Graduation :
  <input type="text" name="year" placeholder="Enter Year of Graduation" /><br />
  Placement Status :
  <select name="status">
    <option value="Placed">Placed</option>
    <option value="Not Placed">Not Placed</option>
  </select>
  <br />

  Score :
  <input type="number" name="DSA" placeholder="Enter score in DSA" />
  <input type="number" name="web" placeholder="Enter score in web" />
  <input type="number" name="react" placeholder="Enter score in react" /><br />
  <input type="submit" value="SUBMIT" />
</form>

<hr />
<h2>Student Details</h2>

<table border="1" cellspacing="3" cellpadding="6">
  <tr>
    <th>Name</th>
    <th>Batch</th>
    <th>College</th>
    <th>Year</th>
    <th>Status</th>
    <th>DSA Score</th>
    <th>Web Score</th>
    <th>React Score</th>
  </tr>

  <!-- if student data is available -->
  <% if(students){%>
  <!-- print data -->
  <%for(student of students){%>
  <tr>
    <td><%=student.name%></td>
    <td><%=student.batch%></td>
    <td><%=student.college%></td>
    <td><%=student.year%></td>
    <td><%=student.status%></td>
    <%if(student.score){%>
    <td><%=student.score.DSA%></td>
    <td><%=student.score.web%></td>
    <td><%=student.score.react%></td>
    <% } %>
  </tr>
  <%}%> <%}%>
</table>
